vault/
Mobius_Vault_Lab_Archive*/
Mobius_Vault_v25_Stable_Backup*/
lobe/
lobe_archives/
mcs_suite/
scratch/
mobius_vault_app/build/
mobius_vault_app/dist/
mobius_vault_app/__pycache__/
mobius_x_engine/build/
mobius_x_engine/dist/
mobius_x_engine/__pycache__/
*.zip
*.pdf
*.mcc
*.mtc
*.mpp
*.bin
*.cracked
*.toy
*.webp
*.bmp
*.spec
Möbius_Vault_White_Paper.md
